$primaryColor: #4527a4;

.bplProGroupBtn {
	position: relative;

	&::before {
		content: 'Pro';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		background: $primaryColor;
		padding: 2px 8px;
		border-radius: 50px;
		z-index: 10;
		display: none;
	}

	&:hover::before {
		display: block;
	}

	svg {
		opacity: .75;
	}
}